@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,800&display=swap');

:root{
    --tintBackGroundColor: #041C32;
    --tintBackGroundColorFooter: #064663;
    --dividerColor: #04293A;
    --fontColorsInter: white;
}

#square_bottom_of_page {
    width: 100%;
    height: 70px;
    margin-left: -10px;
    position: absolute;
    bottom: 0%;
    background-color: var(--tintBackGroundColorFooter);
    border: 2px solid var(--tintBackGroundColorFooter);
}

#logo_bottom_of_page {
    width: 115px;
    height: 33px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body {
    overflow: hidden;
    background-color: var(--tintBackGroundColor);
}

#crypto_logo{
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: -50px;

}

#titlePage {
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 67px;
    margin-bottom: 10px;
}

#priceTag {
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    margin-top: -10px;
    margin-left: 24px;
}

#rankTag {
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    float: right;
    position: relative;
    margin-top: -36px;
    margin-right: 18px;
}

#rankTitle {
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-top: -60px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: right;
}

h1 {
    font-size: 20vw;
}

.linear-wipe {
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--tintBackGroundColorFooter);
    z-index: 99; /* Higher than anything else in the document */
}

#loading_gif {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#priceDivider {
    background-color: var(--dividerColor);
    border: 2px solid var(--dividerColor);;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 24px;
    margin-left: 24px;
    width: 350px;
    height: 165px;

    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#priceDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#priceDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}

#oneHourChangeDivider {
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 12px;
    margin-left: 24px;
    width: 220px;
    height: 165px;

    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#oneHourChangeDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#oneHourChangeDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}

#twentyFourHourChangeDivider {
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 12px;
    margin-left: 24px;
    width: 220px;
    height: 165px;

    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#twentyFourHourChangeDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#twentyFourHourChangeDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}

#sevenDayChangeDivider {
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 12px;
    margin-left: 24px;
    width: 220px;
    height: 165px;

    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#sevenDayChangeDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#sevenDayChangeDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}


#circulatingSupplyDivider {
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 12px;
    margin-left: 24px;
    width: 280px;
    height: 165px;

    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#circulatingSupplyDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#circulatingSupplyDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}

#marketCapDivider{
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 12px;
    margin-left: 24px;
    width: 280px;
    height: 165px;

    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#marketCapDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#marketCapDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}

#totalSupplyDivider {
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 24px;
    margin-left: 24px;
    width: 280px;
    height: 165px;

    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#totalSupplyDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#totalSupplyDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}

#descriptionDivider {
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-table;
    position:relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 24px;
    margin-left: 24px;
    width: 794px;
    height: 165px;
    /* height: 300px; */
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    
}

#descriptionDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#descriptionDividerTag{
    color: var(--fontColorsInter);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    float: right;
    margin-top: -10px;
    margin-right: 24px;
}

#descriptionDividerTagSubDivider{
    margin-top: -15px;
    margin-left: 24px;
    height: 80px;
    overflow: auto;
}

#buySellGaugeDivider{
    background-color: var(--dividerColor);;
    border: 2px solid var(--dividerColor);;
    display: inline-table;
    position:relative;
    -webkit-box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 12px -6px rgba(0, 0, 0, 0.7);
    margin-top: 24px;
    margin-left: 24px;
    width: 1418px;
    height: 350px;
    /* height: 300px; */
    cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}

#buySellGaugeDividerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 24px;
    color: var(--fontColorsInter);
}

#buySellGauge{
    margin-bottom: -100px;
    margin-left: 50px;
}

#buySellGauge2{
    margin-top: -380px;
    margin-left: 600px;
}

#buySellGuage2Title{
    margin-top: -920px;
    margin-left: -290px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--fontColorsInter);
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

#darkModeToggleButton{
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}

#refreshDataButton{
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#accessWalletButton{
    height: 53px;
    width: 53px;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    cursor: pointer;
}

